@font-face
{
  font-family: Ed-regular;
  src: url('../fonts/Edmondsans-Regular.otf');
}
@font-face
{
  font-family: Ed-medium;
  src: url('../fonts/Edmondsans-Medium.otf');
}
@font-face
{
  font-family: Ed-bold;
  src: url('../fonts/Edmondsans-Bold.otf');
}
/*-----FONTS----------------------------------------------------------------------------*/


html {
font-family: Ed-regular;
font-size: 16px;
font-weight: normal;
vertical-align:baseline;
line-height: 18px;
-webkit-font-smoothing: subpixel-antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

html, body {
margin: 0;
padding: 0;
background-color: rgb(200,200,200);
}


p{
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10  */
  -o-user-select: none;
  user-select: none;
}
b{
  font-weight:normal;
  font-family:Ed-bold !important;
}

a{
  color:white;
  text-decoration:none;
  font-weight:normal;
}


#wrapper{
  font-family:Ed-regular;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  position: absolute;
  top:0;
  left: 0;
}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
}

#construct_container {
	width: 1280px;
	height: 1024px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -512px;
  margin-left: -640px;
	background-color: black;
}

#page_container {
  display:none;
}


/* GENERIC----------------------*/
.text{
  font-family: Ed-regular;
  font-size: 42px;
  color:white;
  line-height:150%;
}
.medium{
  font-family: Ed-medium !important;
}
.bold{
  font-family: Ed-bold !important;
}
.type-24 {
  font-size: 24px !important;
  color: white;
}
.type-32 {
  font-size: 32px !important;
  color: white;
  line-height:180%;
}
.type-38 {
  font-size: 38px !important;
  color: white;
}
.type-48 {
  font-size: 48px !important;
  color: white;
}
.type-96 {
  font-size: 96px !important;
  color: white;
}
.absolute{
  position: absolute;
}
.opts{
  display:none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor:pointer;
  text-decoration: underline;
  float:left;
  margin-right:60px;
}
.search-bar{
  width: calc(32px * 10);
  border-bottom: 3px solid white;
  pointer-events:none;
  font-family: Ed-medium;
}
.close{
  width: calc(32px * 2);
  margin-top: calc(57px * 1 + 8px);
}
.underline{
  text-decoration:underline;
}
.button{
  cursor:pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events:visible;
}
.key, .key-2, .key-t, .key-f, .key-m{
  float: left;
  margin-right: 50px;
  text-decoration: underline;
  cursor:pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: visible;
}
.key-f-special, .key-t-special{
  text-decoration: none !important;
  pointer-events: none !important;
}
.key-break{
  margin-right:0px !important;
}
.search{
  max-width: calc(58.2px * 7);
  overflow-x:auto;
  text-transform:capitalize;
}
.click{
  width:50px;
  height:50px;
  background-image: url("sprite2.png");
  -webkit-animation: touch2 0.5s steps(14) infinite;
  -moz-animation: touch2 0.5s steps(14) infinite;
  -ms-animation: touch2 0.5s steps(14) infinite;
  -o-animation: touch2 0.5s steps(14) infinite;
  animation: touch2 0.5s steps(14) infinite;
}
/* FRAME----------------------*/
#frame{
  margin-top:0px;
  margin-left:0px;
  width: 1280px;
  height: 1024px;
  pointer-events: none;
}
#frame-top{
  margin-top:0px;
  width: 1280px;
  height: 16px;
  background:white;
}
#frame-right{
  margin-top:0px;
  margin-left:1264px;
  width: 16px;
  height: 1008px;
  background:white;
}
#frame-bottom{
  margin-top:1008px;
  width: 1280px;
  height: 16px;
  background:white;
}
#frame-left{
  margin-top:0px;
  margin-left:0px;
  width: 16px;
  height: 1008px;
  background:white;
}
/* INDEX / MENU----------------------*/
#initial-message{
  height:50px;
}
#find-message{
  height:50px;
  display:none;
}
#find-options{
  height:50px;
}
.full-page{
  height:100%;
  width:100%;
}
#search{
  height:50px;
  display:none;
}
#initial-instruction{
  height:400px;
  width: 400px;
  margin-left: calc(640px - 200px);
  text-align:center;
}
#img-touch{
  width:161px;
  margin-left: calc(200px - 80.5px);
  height:161px;
  background-image: url("sprite.png");
  -webkit-animation: touch 0.9s steps(15) infinite;
  -moz-animation: touch 0.9s steps(15) infinite;
  -ms-animation: touch 0.9s steps(15) infinite;
  -o-animation: touch 0.9s steps(15) infinite;
  animation: touch 0.9s steps(15) infinite;
}
/* PROFESSORS-PAGE--------------*/
#page-title{
  height:50px;
}
#search-professors{
  height:45px;
}
#professors-filter{
  max-width: calc(32px * 10);
  pointer-events: none;
  z-index: 1000;
}
#professors-list{
  width: calc(32px * 25);
  max-height: calc(32px * 22);
  overflow-y: scroll;
}
#up-arrow{
  margin-left: calc(32px * 28);
  margin-top: calc(32px * 23);
}
#down-arrow{
  margin-left: calc(32px * 28);
  margin-top: calc(32px * 26);
}
#clean{
  float: left;
  text-decoration: underline;
  cursor:pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: visible;
}
.teacher_id{
  cursor:pointer;
}
/* ROOMS-PAGE--------------*/
#rooms-list{
  width: calc(58px * 10);
  max-height: calc(58px * 12);
  overflow-y: scroll;
}
#search-rooms{
  height:45px;
}
#rooms-filter{
  max-width: calc(32px * 11);
  pointer-events: none;
  z-index: 1000;
}
#tower, #room{
  float: left;
  margin-right: 40px;
  pointer-events: none !important;
  text-decoration: none !important;
}
#up-arrow-2{
  margin-left: calc(32px * 15);
  margin-top: calc(32px * 23);
}
#down-arrow-2{
  margin-left: calc(32px * 15);
  margin-top: calc(32px * 26);
}
.room_id{
  cursor:pointer;
}
/* SERVICES-PAGE--------------*/
#services-list{
  width: calc(58px * 20);
  max-height: calc(58px * 13);
}
/* MAP-PAGE--------------*/
#construct_mapa {
  position: absolute;
  width: calc(32px * 36);
  height: calc(32px * 16);
  pointer-events: none;
}
.mapa_slot {
  width: 60px;
  height: 60px;
  margin-top:2px !important;
  margin-bottom:2px !important;
  margin-left:2px !important;
  margin-right:2px !important;
  float: left;
  pointer-events: all;
}
#map-filter{
  width: calc(32px * 23);
  pointer-events: none;
  z-index: 1000;
}
#search-free{
  height:45px;
}
#map-message{
  width: calc(32px * 23);
}






/*-----ANIMATIONS----------------------------------------------------------------------*/
@-webkit-keyframes move-top {
  from { margin-top: calc(32px * 7) }
  to { margin-top: 20px; }
}
@-moz-keyframes move-top {
  from { margin-top: calc(32px * 7) }
  to { margin-top: 20px; }
}
@-ms-keyframes move-top {
  from { margin-top: calc(32px * 7) }
  to { margin-top: 20px; }
}
@-o-keyframes move-top {
  from { margin-top: calc(32px * 7) }
  to { margin-top: 20px; }
}
@keyframes move-top {
  from { margin-top: calc(32px * 7) }
  to { margin-top: 20px; }
}
.move-top{
  -webkit-animation: move-top 2s infinite;
  -moz-animation: move-top 2s infinite;
  -ms-animation: move-top 2s infinite;
  -o-animation: move-top 2s infinite;
  animation: move-top 2s infinite;
}

@-webkit-keyframes touch {
  from { background-position:    0px; }
  to { background-position: -2401px; }
}
@-moz-keyframes touch {
  from { background-position:    0px; }
  to { background-position: -2401px; }
}
@-ms-keyframes touch {
  from { background-position:    0px; }
  to { background-position: -2401px; }
}
@-o-keyframes touch {
  from { background-position:    0px; }
  to { background-position: -2401px; }
}
@keyframes touch {
  from { background-position:    0px; }
  to { background-position: -2401px; }
}

@-webkit-keyframes touch2 {
  from { background-position:    0px; }
  to { background-position: -700px; }
}
@-moz-keyframes touch2 {
  from { background-position:    0px; }
  to { background-position: -700px; }
}
@-ms-keyframes touch2 {
  from { background-position:    0px; }
  to { background-position: -700px; }
}
@-o-keyframes touch2 {
  from { background-position:    0px; }
  to { background-position: -700px; }
}
@keyframes touch2 {
  from { background-position:    0px; }
  to { background-position: -700px; }
}

.rotated {
  -webkit-animation: spin 0.5s linear;
  -moz-animation: spin 0.5s linear;
  -ms-animation: spin 0.5s linear;
  animation: spin 0.5s linear;
}
@-webkit-keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(180deg);}
}
@-moz-keyframes spin {
  0%  {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(180deg);}
}
@-ms-keyframes spin {
  0%  {-ms-transform: rotate(0deg);}
  100% {-ms-transform: rotate(180deg);}
}
@keyframes spin {
  0%  {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}

.side_view {
  display: none;
}
